*{
   background-color: bisque;
   display: block;
   background-image: ;
}
.header{
   background-color: aquamarine;


}
.picture{
   padding-left: 100px;
   padding-top: 50pxs;
   size-adjust: 20px;
}